header img { width: 80%; }

nav ul li { display: block;
	list-style: none; }

nav ul li a { width: 100%;
	font: 2em Rokkitt, Tahoma, Arial;
	color: #FFF;
	text-align: center;
	padding: 10px 0px 10px 0px;
	text-decoration: none;
	float: left; }

#menu, #banner { display: none; }

#menu {
    margin-top: 10px;
}

#btnmenu { display: block; }

#sobre, #portfolio, #contato, #formulario, .container, .colunas { width: 100%; }

.itens { float: left; }

.colunas img { width: 30%; }

.itens img { width: 70%; }
